* {
font-family: "Open Sans", sans-serif;
}
html {
}
p {
	margin: 0;
}
body { 
	margin:1em; 
	min-height: 100%;
}
code, pre {
	font-family: "PT mono" sans-serif;
	-moz-tab-size: 1;
	-webkit-tab-size: 1;
	-o-tab-size:   1;
	tab-size:      1;
}
#content {
	margin-left: 2px;
	margin-right: 1em;
	margin-bottom: 1em;
	max-width: 40em;
}
#error {
	display: none;
}
.nav {
	font-family: "Open Sans", sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	display: inline-block;
margin-top: .5em;
}
.nav a {
margin-right: 1em;
} 
article {

}
h1, h2, h3, h4 {
	font-weight: 400;
	margin-top: 0.5em;
}
footer {
	background-color: rgba(0,136,204, 0.05);
	float: bottom;
	padding: 0.5em;
}
.firstpar {
	font-style: italic;
}
.logo {
font-size: 1.5em;
margin-left: 0;
}
.specialSection {
	background-color: rgba(0,136,204, 0.05);
	padding: 1em;
	border: 2px #0088cc solid;
	padding-bottom: .5em;
}
.specialSection h3 {
	margin-top: -.5em;
	margin-bottom: .5em;
}
.comments {
	column-count: 2;
	-webkit-column-count: 3;
}
.comment {
	background-color: rgba(0,136,204,0.05);
column-break-inside: avoid;  	
display: inline-block; 	
width: 100%;
}
.commentHeader {
	background-color: rgba(0,136,204,0.2);
	font-size: 75%;
	padding: .205;
}
.commenterName {
	font-weight:600;
	color: rgba(0, 136, 204, 1.0);
	font-size: 125%;
}
.commentNumber {
	font-weight: 600;
	font-size:125%;
}
.commentContent {
	padding: .25em;
}
.commentControls {
	float: right;
	font-size: 125%;
}
.comment-like-heart {
	
}
.cclogo {
	
}
.copyright {
	font-family: "inconsolata", sans-serif;
	font-size: 42px;
	vertical-align: -45%;
}
